<div class="top_nav">
  <div class="nav_menu">

    <!-- HAMBURGER MENU -->

    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <!-- END OF HAMBURGER MENU -->

    <nav class="nav navbar-nav">
      <!-- RIGHT NAVIGATION BAR -->
      <ul class=" navbar-right">
        <li class="nav-item dropdown open" style="padding-left: 15px;">
          <!-- IMAGE AND USER -->
          <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true"     id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/img.jpg" alt="">Ekassiba Ochuku
          </a>
          <!-- END OF IMAGE AND USER -->
          
          <!-- DROPDOWN LIST -->
          <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  href="javascript:;"> Profile</a>
            <a class="dropdown-item"  href="javascript:;">
              <span class="badge bg-red pull-right">80%</span>
              <span>Settings</span>
            </a>
            <a class="dropdown-item"  href="javascript:;">Help</a>
            <a class="dropdown-item"  href="login.html">
              <i class="fa fa-sign-out pull-right"></i> 
              Log Out
            </a>
          </div>
          <!-- END OF DROPDOWN LIST -->
        </li>

        <!-- NOTIFICATION SECTION -->
        <li role="presentation" class="nav-item dropdown open">
          <!-- ENVELOPE AND THE NO -->
          <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green">7</span>
          </a>
          <!-- END OF ENVELOPE AND THE NO -->

          <!-- NOTIFICATION DROPDOWN -->
          <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
            <li class="nav-item">
              <a class="dropdown-item">
                <span class="image"><img src="assets/images/equity.jpg" alt="Profile Image" /></span>
                <span>
                  <span>Equity Insurance</span>
                  <span class="time">1 min ago</span>
                </span>
                <span class="message">
                  Welcome to our self-service portal. Equity Bancassurance is your go....
                </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="dropdown-item">
                <span class="image"><img src="assets/images/equity.jpg" alt="Profile Image" /></span>
                <span>
                  <span>Equity Insurance</span>
                  <span class="time">3 hrs ago</span>
                </span>
                <span class="message">
                  Welcome to our self-service portal. Equity Bancassurance is your go....
                </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="dropdown-item">
                <span class="image"><img src="assets/images/equity.jpg" alt="Profile Image" /></span>
                <span>
                  <span>Equity Insurance</span>
                  <span class="time">Yesterday</span>
                </span>
                <span class="message">
                  Welcome to our self-service portal. Equity Bancassurance is your go....
                </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="dropdown-item">
                <span class="image"><img src="assets/images/equity.jpg" alt="Profile Image" /></span>
                <span>
                  <span>Equity Insurance</span>
                  <span class="time">2 days ago</span>
                </span>
                <span class="message">
                  Welcome to our self-service portal. Equity Bancassurance is your go....
                </span>
              </a>
            </li>

            <li class="nav-item">
              <div class="text-center">
                <a class="dropdown-item">
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
          
          <!-- END OF NOTIFICATION DROPDOWN -->


        </li>
        <!-- END OF NOTIFICATION SECTION -->
      </ul>
      <!-- END OF RIGHT NAVIGATION BAR -->
    </nav>

  </div>
</div>
