<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="container">
<form>
    <div class="form-group">
      <label><b>CLAIMS FORM</b></label>
    </div>
    <div></div>
    <div class="form-group">
      <label>Select Policy you are making a Claim for:</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option value="">Select Policy</option>
        <option>Policy No:016761257</option>
        <option>Policy No:01676128</option>
        <option>Policy No:016761259</option>
        <option>Policy No:016761260</option>
      </select>
    </div>
    <div class="form-group">
      <label>Date of Incident</label>
      <input type="date" class="form-control">
    </div>
    <div class="form-group">
      <label>Location of Incident</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Description of Incident</label>
      <textarea class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label>Estimated Damage</label>
      <input type="number" class="form-control">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description of Loss</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-secondary btn-sm" style="background-color: #a32a29;">Submit</button>
  </form>
</div>