<body class="sb-nav-fixed">
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark text-white" id="sidenavAccordion" style="background-color: maroon;">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div >
              <a class="site_title"><i class="fa fa-group"></i> <span>Customer
                  Portal</span></a>
            </div>
            <a class="nav-link" href="index.html">
              <div class="sb-nav-link-icon"><i class="fa fa-home"></i></div>
              Home
            </a>



            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
              aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fa fa-file"></i></div>
              Profile
              <div class="sb-sidenav-collapse-arrow"><span class="fa fa-chevron-down"></span></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav">
                <li><a href="form.html">Main Details</a></li>
                <li><a href="form_advanced.html">Contact Details</a></li>
                <li><a href="form_validation.html">Bank Details</a></li>
              </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
              aria-expanded="false" aria-controls="collapsePages">
              <div class="sb-nav-link-icon"><i class="fa fa-briefcase"></i></div>
              Claims
              <div class="sb-sidenav-collapse-arrow"><span class="fa fa-chevron-down"></span></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                <li><a href="form.html">New Claim</a></li>
                <li><a href="form_advanced.html">Claim Status</a></li>
                <li><a href="form_validation.html">Claim History</a></li>
              </nav>
            </div>



            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePortfolio"
              aria-expanded="false" aria-controls="collapsePortfolio">
              <div class="sb-nav-link-icon"><i class="fa fa-credit-card"></i></div>
              Portfolio
              <div class="sb-sidenav-collapse-arrow"><span class="fa fa-chevron-down"></span></div>
            </a>
            <div class="collapse" id="collapsePortfolio" aria-labelledby="headingPortfolio"
              data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPortfolio">
                <li><a href="portfolio_new.html">My Policies</a></li>
                <li><a href="portfolio_overview.html">Quotes</a></li>

              </nav>
            </div>


            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTransactions"
              aria-expanded="false" aria-controls="collapseTransactions">
              <div class="sb-nav-link-icon"><i class="fa fa-exchange"></i></div>
              Transactions
              <div class="sb-sidenav-collapse-arrow"><span class="fa fa-chevron-down"></span></div>
            </a>
            <div class="collapse" id="collapseTransactions" aria-labelledby="headingTransactions"
              data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionTransactions">
                <li><a href="transaction_new.html">Premium Payments</a></li>
                <li><a href="transaction_history.html">Paid Claims</a></li>
              </nav>
            </div>

            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInbox"
              aria-expanded="false" aria-controls="collapseInbox">
              <div class="sb-nav-link-icon"><i class="fa fa-message"></i></div>
              Inbox
              <div class="sb-sidenav-collapse-arrow"><span class="fa fa-chevron-down"></span></div>
            </a>
            <div class="collapse" id="collapseInbox" aria-labelledby="headingInbox" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionInbox">
                <li><a href="inbox.html">SMS</a></li>
                <li><a href="compose.html">Email</a></li>

              </nav>
            </div>

            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseBuyQuotes"
              aria-expanded="false" aria-controls="collapseBuyQuotes">
              <div class="sb-nav-link-icon"><i class="fa fa-shopping-cart"></i></div>
              Buy & Quotes
              <div class="sb-sidenav-collapse-arrow"><span class="fa fa-chevron-down"></span></div>
            </a>
            <div class="collapse" id="collapseBuyQuotes" aria-labelledby="headingBuyQuotes"
              data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionBuyQuotes">
                <li><a href="buy_new.html">New Purchase</a></li>
                <li><a href="quotes.html">View Quotes</a></li>
                <li><a href="purchase_history.html">Purchase History</a></li>
              </nav>
            </div>



          </div>
        </div>
        <div class="sb-sidenav-footer text-white" style="background-color: rgb(53, 23, 23);">
          <div class="small">Logged in as:</div>
          Start Bootstrap
        </div>
      </nav>
    </div>
  </div>
</body>