 /* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 1000px;
    margin-left: 15%;
    margin-top: 4%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Button Group */
  .btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width:600px;
    border-radius: 8px;
  }
  
  .btn-group .btn {
    margin-right: 10px;

  }
  .btn{
    border-radius: 8px;

  }
  
  /* Form Styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 3px;
    padding: 8px 12px;
  }
  
  /* Image Upload */
  .text-center {
    margin-top: 20px;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 5px;
  }
  
  .text-center p {
    margin-bottom: 10px;
  }
  
  /* Responsive Styles */
  @media (max-width: 767px) {
    .col-md-8, .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }